<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>はてぶエントリ</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
  <%= form_tag('search') do %>
    <p>入力してください。</p>
    <%= search_field_tag(:url, value=@url, options={:size => 150}) %>
    <%= submit_tag(value = "submit") %>
  <% end %>
<%= @alert %>
<% if @users.length > 1 %>
  <div class='label'>タイトル：</div><div class='content'><%= @title %></div>
  <div class='label'>entry_url：</div><div class='content'><%= link_to(@entry_url, @entry_url) %></div>
  <table>
    <tr>
      <th>ユーザー</th>
      <th>タグ</th>
      <th>コメント</th>
      <th>タイムスタンプ</th>
    </tr>
  <% @users.each_with_index do |user, i| -%>
    <tr>
      <td><%= user %></td>
      <td><%= @tags[i] %></td>
      <td><%= @comments[i] %></td>
      <td><%= @timestamps[i] %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</body>
</html>

